<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Expired</title>
    <link rel="stylesheet" href="../css/404.css">
    <link rel="icon" href="/src/icon.jpg" type="image/jpg">
</head>
<body>
    <div class="container">
        <div class="error">
            <h1>Error</h1>
            <p>Your session has expired. Please log in again.</p>
            <a href="/" class="home-btn">Log In</a>
        </div>
    </div>

    <script type="module">
        localStorage.removeItem("Username");
    </script>
</body>
</html>